<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Not Found</title>
    <% include partials/links %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        404 Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg" style "margin-top:4%"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer %>
    </div>
    <!-- /container -->
</body>

</html>