<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo App</title>
    <% include partials/links %>
</head>

<body>
    <div class="container">  
        <% include partials/nav %>  
        <div class="jumbotron">
            <% if (user) { %>
                <h1>Hey, <%= user.name %> </h1>
                <p><a class="btn btn-lg btn-success" href="/todo" role="button">Add Task</a></p>
            <% } %>
            <% if (!user) { %>
                <h1>Personalize Features</h1>
                <p><a class="btn btn-lg btn-success" href="/users/register" role="button">Sign Up</a></p>
            <% } %>
        </div>
        <% include partials/footer %>
    </div>
    <!-- /container -->
</body>

</html>